.idea
UserSettings
GoogleSpreadSheetLoader.sln
GoogleSpreadSheetLoader.sln.DotSettings.user
*.csproj
*.DS_Store
obj
Logs
Library
Temp
Assets/GoogleSpreadSheetLoader/Generated
Assets/Resources/TableLinker.asset
Assets/Resources/TableLinker.asset.meta
Assets/GoogleSpreadSheetLoader/Generated.meta
Assets/Resources
Assets/Resources.meta
 Assets/GoogleSpreadSheetLoader/Generated
